/**
 * @module          CookiePro
 * @author          cms-lab
 * @copyright       2019-2024 cms-lab
 * @link            https://cms-lab.com
 * @license         custom license: https://cms-lab.com/_documentation/cookiepro/license.php
 * @license_terms   please see license
 *
 */
 
 .spacer2 {
  height:20px;
  width:100%;
}

.spacer4 {
  height:40px;
  width:100%;
}

.ui.basic.button.blank  {
	border: 0px !important;
	box-shadow: none !important;
	margin: 0px !important;
	padding: 0px !important;	
}